name: Release to PyPI

on:
  push:
    tags: ["v*"]

jobs:
  validate-release-tag:
    name: Validate git tag
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

  release-pypi-mac:
    needs: validate-release-tag
    name: PyPI release on Mac
    runs-on: macos-11

    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-apple-darwin, aarch64-apple-darwin]

    steps:
      - uses: actions/checkout@v3
      - run: rm object-store/README.md && cp README.md object-store/README.md

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - uses: PyO3/maturin-action@v1
        name: Publish to pypi (without sdist)
        with:
          target: ${{ matrix.target }}
          command: build
          args: -m object-store/Cargo.toml --no-sdist --release
      - uses: actions/upload-artifact@v4
        with:
          path: target/wheels/*.whl

  release-pypi-mac-universal2:
    needs: validate-release-tag
    name: PyPI release on Mac universal 2
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - run: rm object-store/README.md && cp README.md object-store/README.md

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - uses: PyO3/maturin-action@v1
        name: Publish to pypi (without sdist)
        with:
          target: ${{ matrix.target }}
          command: build
          args: -m object-store/Cargo.toml --no-sdist --universal2  --release
      - uses: actions/upload-artifact@v4
        with:
          path: target/wheels/*.whl

  release-pypi-windows:
    needs: validate-release-tag
    name: PyPI release on Windows
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - run: rm object-store/README.md && cp README.md object-store/README.md

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - uses: PyO3/maturin-action@v1
        name: Publish to pypi (without sdist)
        with:
          target: x86_64-pc-windows-msvc
          command: build
          args: -m object-store/Cargo.toml --no-sdist  --release

  release-pypi-manylinux:
    needs: validate-release-tag
    name: PyPI release manylinux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: rm object-store/README.md && cp README.md object-store/README.md

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - uses: PyO3/maturin-action@v1
        name: Publish manylinux to pypi x86_64 (with sdist)
        with:
          target: x86_64-unknown-linux-gnu
          command: build
          args: -m object-store/Cargo.toml  --release
      - uses: actions/upload-artifact@v4
        with:
          path: target/wheels/*.whl

      - uses: PyO3/maturin-action@v1
        name: Publish manylinux to pypi aarch64 (without sdist)
        with:
          target: aarch64-unknown-linux-gnu
          command: build
          args: -m object-store/Cargo.toml --no-sdist  --release
      - uses: actions/upload-artifact@v4
        with:
          path: target/wheels/*.whl
